In [1]:
print("Hello")

Hello

In [2]:
a=10
b=20
a+b

30

In [3]:
a

10

In [4]:
a+10

20

In [5]:
a+b+20

50

In [6]:
print(a)

10

In [9]:
print("The value of a is :",a+20
     )

The value of a is : 30

In [10]:
print(type(a),type(b))

<class 'int'> <class 'int'>

In [12]:
c=10
print(type(c))

<class 'int'>

In [13]:
a=input("Enter a number")

Enter a number10

In [14]:
print(type(a))

<class 'str'>

In [19]:
a=int(a)

In [20]:
print(type(a))

<class 'int'>

In [1]:
age=10
Age=15
rollno=-1
fee=255.50
name="Narinder Singh Kapany"

In [2]:
print(type(age),type(fee),type(name))

<class 'int'> <class 'float'> <class 'str'>

In [3]:
print(type(age,fee,name))

TypeError: type.__new__() argument 1 must be str, not int

In [4]:
age=10
print(type(age),age)
age=10.5
print(type(age),age)
age=10
print(type(age),age)
age="10"
print(type(age),age)

<class 'int'> 10
<class 'float'> 10.5
<class 'int'> 10
<class 'str'> 10

In [5]:
print(age)
del age
print(age)

10

NameError: name 'age' is not defined

In [6]:
a=input('enter value')
# assignment

enter value12

raman=20;shyam=30;print(raman);

In [7]:
raman=20;shyam=30;print(raman);

20

In [8]:
raman=20,shyam=30,print(raman);

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (692911408.py, line 1)

In [9]:
raman=20;shyam=30,print(raman);#why?

20

In [10]:
raman=20;shyam=30;print(shyam);

30

In [2]:
raman=20;shyam=30,print(shyam);

NameError: name 'shyam' is not defined

In [12]:
raman=20,shyam=30,print(raman)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3776915686.py, line 1)

In [13]:
raman=20,shyam=30;print(raman);

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1484400120.py, line 1)

In [14]:
colabis="The eight queens problem is the problemof placing eight queens on an 8x8 \
chessboard such that none of them attack one another (no two are in the same \
row, column, or diagonal). More generally, the n quens pro bem places n \
qucens on an nin chessboard. 
"

SyntaxError: unterminated string literal (detected at line 4) (855672654.py, line 1)

In [16]:
colabis="The eight queens problem is the problemof placing eight queens on an 8x8 \
chessboard such that none of them attack one another (no two are in the same \
row, column, or diagonal). More generally, the n quens pro bem places n \
qucens on an nin chessboard." 

print(colabis)

The eight queens problem is the problemof placing eight queens on an 8x8 chessboard such that none of them attack one another (no two are in the same row, column, or diagonal). More generally, the n quens pro bem places n qucens on an nin chessboard.

2**20

In [17]:
2**20

1048576

In [18]:
2**19

524288

In [19]:
2**12

4096

In [20]:
2**16

65536

In [21]:
2**18

262144

In [5]:
ram=10;sham=20;print(ram);

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2451055661.py, line 1)

In [8]:
ram=10;sham=20;aman=30,print(aman);

(30, None)

In [3]:
n=12345
a=n%10
n=n//10
b=n%10
n=n//10
c=n%10
n=n//10
d=n%10
n=n//10
e=n%10
print(e,d,c,b,a)

1 2 3 4 5

In [14]:
n=int(input("Enter no."))
while(n!=0):
    a=n%10
    n=n//10
    print(a)

Enter no.10866
6
6
8
0
1

In [31]:
cnt=0
str1="00987349"
n=int(str1)
while(n!=0):
    a=n%10
    n=n//10
    cnt=cnt+1
print(cnt)

6

In [2]:
print("how",end=" ")
print("are")

how are

In [1]:
# divmod=return more than one value
t=divmod(10,3)
print(t)

(3, 1)

In [3]:
a=(1,2,3,4,5)
print(max(a))
print(min(a))
print(sum(a))
# print(sort(a))

5
1
15

NameError: name 'sort' is not defined

In [16]:
dict={0:"a", 2:"b",3:"c"}
print(dict)

{0: 'a', 2: 'b', 3: 'c'}

In [13]:
print(dict[0])

a

In [14]:
print(dict.get(0))#get method to acces value

a

In [17]:
print(all(dict))

False

In [18]:
# clear(),copy(),fromkeys()-method in dict.
dict={0:"a", 2:"b",3:"c"}
k={1,2}
d=dict.fromkeys(k)
print(d)

{1: None, 2: None}

In [19]:
dict={0:"a", 2:"b",3:"c"}
print(dict.items())

dict_items([(0, 'a'), (2, 'b'), (3, 'c')])

In [20]:
print(dict.pop(2))

b

In [21]:
print(dict)

{0: 'a', 3: 'c'}

In [24]:
dict={0:"a", 2:"b",3:"c"}
# del[0]
print(dict)

{0: 'a', 2: 'b', 3: 'c'}

In [29]:
# update method
dict={0:"a", 2:"b",3:"c"}
dict1={0:'A', 2:'B',3:"D"}
dict(update.dict1())
print(dict)

NameError: name 'update' is not defined

In [ ]:
# ASSIGNMENT
1. To find the items/value having maximum frequency
Write program using list,tuple and dictionary

### FUNCTIONS

In [31]:
# First statement of a function is OPTIONAL STATEMENT
# three parts of funtions: name,parameter and return type
def udfprint(a):
    print(a)
udfprint("Chandigarh")

Chandigarh

In [33]:
# function to define maximum number 
def udfmax(a,b):
    if a>b:
        return a
    else :
        return b
c=udfmax(10,30)
print(c)

30

In [37]:
def udfmax(a,b,c):
    if a>b and a>c:
        return a
    elif b>c:
        return b
    else :
        return c
c=udfmax(10,30,33)
print(c)

33

In [56]:
def udfmax(l):
    max=l[0]
    for i in range(len(l)):
        if(l[i]>max):
            max=l[i]
    return max
l=[]
n=int(input("Enter the number of elements"))
for i in range(n+1):
    a= int(input("enter element"))
    l.append(a)
print(l)
max=udfmax(l)
print(max)

Enter the number of elements5
enter element45
enter element33
enter element87
enter element90
enter element0
enter element5
[45, 33, 87, 90, 0, 5]
90

In [52]:
# program write a python program to find the area of a circle
# area=pi*r*r

In [4]:
i=1
while (i<=10):
    print(" 2 * " +str(i) +" =",2*i)
    i+=1

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

In [7]:
import random 
num=random.randrange(0,100)

n=int(input("Enter a number between 0 and 100 : "))
i=1
cnt=1
    

while n!=num:
    if n<num :
        print("Please enter higher number")
        n=int(input("Enter your higher number"))
        cnt=cnt+1
    else :
        
        print("Please enter lower number")
        n=int(input("Enter your lower number"))
        cnt=cnt+1

if n==num:
        print("Well done you guess in "+str(cnt)+ " guesses")

Enter a number between 0 and 100 : 0
Please enter higher number
Enter your higher number50
Please enter higher number
Enter your higher number70
Please enter higher number
Enter your higher number90
Please enter higher number
Enter your higher number95
Please enter lower number
Enter your lower number93
Please enter higher number
Enter your higher number94
Well done you guess in 7 guesses

### list

In [8]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [12]:
l=[1,2,3,4]
print(l[0])

1

In [6]:
# Write a program which does the following

# You are given a list consisting of 12 integers - the number of days in each month in a year
# You need to iterate through the loop and exit the loop if you find any integer which is not 30 or 31
# Output this anomaly to the console
        
days = [30, 31, 30, 30, 31, 30, 20, 30, 31, 30, 31, 30]
for i in days:
#     print(i)
    if i!=30 and i!=31:
        break
    print(i)

30
31
30
30
31
30

In [12]:
# n = int(input())
for i in range(1,11):
#     if i==n:
#         continue
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
a=max(False,-3,-4)
b=min(a,2,7)
print(b)

False

In [6]:
from flask import Flask 
app = Flask(__name__) 
@app.route('/') 
def hello_world():
    return 'Hello, World!'
def fun():
    return 'Welcome in funtion'
if __name__ == '__main__': 
    app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit

In [1]:
value=input("Enter a value:")
print(10/value)

Enter a value:0

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [3]:
try:
    first_prompt=input("ENter the first value:")
    a=len(first_prompt)
    second_prompt=input("Enter the second value")
    b=len(second_prompt)*2
    print(a/b)
except ZeroDivisionError:
    print("Do not divide by zero!")
except ValueError:
    print("Wrong value.")
except:
    print("Error.Error.Error.")

ENter the first value:kangaroo
Enter the second value0
4.0

In [4]:
my1=[1,2,3]
my2=[]
for v in my1:
    my2.insert(0,v)
print(my2)

[3, 2, 1]